<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style="color:red;">Welcome Mr :<%= @user.name %></h1>
    <p>
      You have successfully sign up<br>
    </p>
      ____________________________________<br>
      Your Name is: <%= @user.name %>.<br>
      Your Email Id  is: <%= @user.email %>.<br>
      Your Password is : <%= @user.password_digest %><br>
      ____________________________________<br>
    <p>Thanks have a great day!</p>
  </body>
</html>
